<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="icon" type="image/png" href="/static/img/icon.png" >
    <title>Find mates</title>
</head>
<body>
<div class="background">
    <p class="main_buttons" onclick="window.location.href = 'http://127.0.0.1:8080/news';"><button class="main_button">News</button></p>
    <p class="main_buttons" onclick="window.location.href = 'http://127.0.0.1:8080/find_mates';"><button class="main_button">Find mates</button></p>
    <p class="main_buttons" onclick="window.location.href = 'http://127.0.0.1:8080/my_mates';"><button class="main_button_2">My mates</button></p>
    <p class="main_buttons" onclick="window.location.href = 'http://127.0.0.1:8080/profiles';"><button class="main_button_2">Profile</button></p>
</div>
    <form>
        <table>
    <tr><th>Name</th><th>Competitive rank</th> <th>Wingman rank</th> <th>Faceit level</th><th>Discord</th><th></th></tr>
    </table>
    </form>
</body>
</html>