<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="icon" type="image/png" href="/static/img/icon.png" >
    {% block title %}{% endblock %}
</head>
<body>
<div class="upper_buttons">
    <p class="main_buttons" onclick="window.location.href = '/news';"><button class="main_button">News</button></p>
    <p class="main_buttons" onclick="window.location.href = '/find_mates';"><button class="main_button">Find mates</button></p>
    <p class="main_buttons" onclick="window.location.href = '/login';"><button class="main_button">Profile</button></p>
</div>
{% block content %}{% endblock %}
</body>
</html>
