{% extends "base.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<form action="" method="post" class="login_form" novalidate>
    <h1 class="log">Login</h1>
    {{ login_form.hidden_tag() }}
    <p>
        {{ login_form.username.label}}<br>
        {{ login_form.username(class="login_inputs") }}<br>
        {% for error in login_form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
        {{ login_form.password.label }}<br>
        {{ login_form.password(class="login_inputs", type="password") }}<br>
        {% for error in login_form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>{{ login_form.submit(type="submit", class="login_button") }}</p>
</form>

<form action="" method="post" class="register_form" novalidate>
    <h1 class="reg">Register</h1>
    {{register_form.hidden_tag() }}
    <p>
        {{ register_form.username.label}}<br>
        {{ register_form.username(class="register_inputs") }}<br>
        {% for error in register_form.username.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>
        {{ register_form.password.label }}<br>
        {{ register_form.password(class="register_inputs", type="password") }}<br>
        {% for error in register_form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    <p>{{ register_form.submit(type="submit", class="register_button") }}</p>
</form>
{% endblock %}
