{% extends "base.html" %}

{% block title%}
<title>Register</title>
{% endblock %}

{% block content %}
<h1 style="margin-left: 47%">Register</h1>
<form action="" method="post" class="full_register_form">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control login_inputs") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
    {% endfor %}
    <p>
        {{ form.discord.label }}<br>
        {{ form.discord(class="form-control login_inputs") }}<br>
        {% for error in form.discord.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
    {% endfor %}
    <p>
        {{ form.steam.label }}<br>
        {{ form.steam(class="form-control login_inputs") }}<br>
        {% for error in form.steam.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
    {% endfor %}
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control login_inputs", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
    {% endfor %}
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control login_inputs", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="full_register_button") }}</p>
    {{message}}
</form>
{% endblock %}